
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>CognEOS for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/index.css" rel="stylesheet">
  </head>

  <body>

    <header>
      <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-md-7 py-4">
              <h4 class="text-white">About</h4>
              <p class="text-muted">Add some information about the album below, the author, or any other background context. Make it a few sentences long so folks can pick up some informative tidbits. Then, link them off to some social networking sites or contact information.</p>
            </div>
            <div class="col-sm-4 offset-md-1 py-4">
              <h4 class="text-white">Contact</h4>
              <ul class="list-unstyled">
                <li><a href="#" class="text-white">Follow on Twitter</a></li>
                <li><a href="#" class="text-white">Like on Facebook</a></li>
                <li><a href="#" class="text-white">Email me</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container d-flex justify-content-between">
          <a href="#" class="navbar-brand d-flex align-items-center">
           <img src="img/logo.png" width="25%" height="25%" alt="">
            <strong> CognEOS</strong>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </div>
    </header>

    <main role="main">

      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">CognEOS</h1>
          <h5 class="one">The first decentralized education platform<br>where students get paid to learn</h5>
          <br>
          <p>
            <a href="#" class="btn btn-primary my-2">Students/Teachers</a>
            <a href="#" class="btn btn-secondary my-2">Sponsors</a>
          </p>
        </div>
      </section>

      <div class="album py-5 bg-light">
        <div class="container">

          <div class="row">
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
	            <div class="user onepic"></div>
                <div class="card-body">
                  <h2 class="card-text">EOS Smart Contract Development 101</h2>
                  <p></p>
                  <small class="card-text">Sponsored by</small>
                  <img src="img/bluchain.png" width="40%" height="40%" alt="">
                  <div class="d-flex justify-content-between align-items-center">
                    <strong class="text-muted">50 EOS</strong>
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">Enroll</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
                <div class="card-body">
                  <h2 class="card-text">Advanced EOSJS programming</h2>
                  <small class="card-text">Sponsored by</small>
                  <img src="img/eosrio-03.png" width="21%" height="21%" alt="">
                  <div class="d-flex justify-content-between align-items-center">
                    <strong class="text-muted">40 EOS</strong>
                     <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">Enroll</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
                <div class="card-body">
                  <h2 class="card-text">Build your own social media Dapp</h2>
                  <small class="card-text">Sponsored by</small>
                  <img src="img/Block.one_Logo_Black.png" width="34%" height="34%" alt="">
                  <div class="d-flex justify-content-between align-items-center">
                    <strong class="text-muted">100 EOS</strong>
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">Enroll</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </main>

    <footer class="text-muted">
      <div class="container">
        <p class="float-right">
          <a href="#">Back to top</a>
        </p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/vendor/holder.min.js"></script>
  </body>
</html>
